@model Nest.SiteData
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home | @Model.CurrentItem.Title</title>

    <meta name="title" content="Home | @Model.CurrentItem.Title">
    <meta name="description" content="@Model.CurrentItem.Summary">
    <meta name="author" content="Brian Dunnington" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Brian Dunnington" />
    <meta property="og:url" content="https://briandunnington.github.io/">
    <meta property="og:title" content="Home | @Model.CurrentItem.Title">
    <meta property="og:description" content="@Model.CurrentItem.Summary">
    <meta property="og:image" content="https://briandunnington.github.io/img/bd_logo.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@("@briandunnington")">
    <meta property="twitter:creator" content="@("@briandunnington")">
    <meta property="twitter:url" content="https://briandunnington.github.io/">
    <meta property="twitter:title" content="Home | @Model.CurrentItem.Title">
    <meta property="twitter:description" content="@Model.CurrentItem.Summary">
    <meta property="twitter:image" content="https://briandunnington.github.io/img/bd_logo.png">

    <link rel="canonical" href="https://briandunnington.github.io" />
    <link rel="stylesheet" href="/css/style.css">
    <link type="application/atom+xml" rel="alternate" href="https://briandunnington.github.io/rss.xml" title="Brian Dunnington" />
</head>

<body>
    <nav class="nav">
        <div class="nav-container">
            <a href="/">
                <h2 class="nav-title">brian dunnington</h2>
            </a>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="http://twitter.com/briandunnington"><img src="img/twitter.png" width="48" style="position: relative;top:30px;"/></a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="catalogue">
            @foreach (var post in @Model.Posts.Where((p) => !p.Contains("DRAFT") && !p.LinkNoExt.Contains("/categories/")).OrderByDescending(p => p.Date))
            {
                <a href="@post.LinkNoExt" class="catalogue-item">
                    <div>
                        <time datetime="@post.Date.ToString("yyyy-MM-dd hh:mm:ss +0000")" class="catalogue-time">@post.Date.ToString("MMMM d, yyyy")</time>
                        <h1 class="catalogue-title">@post.Title</h1>
                        <div class="catalogue-line"></div>
                        <p>
                            @post.Summary
                        </p>
                    </div>
                </a>
            }
        </div>

        <div class="pagination">
        </div>
    </main>

    <footer>
        <span>
            &copy; 2012-@DateTime.Now.Year.ToString() brian dunnington
        </span>
    </footer>

</body>

</html>
